<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to homepage</h1>
    
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

    <h1 style="text-align: center;">Welcome to homepage</h1>

    <button id="predictButton" style="align-items:center;">Predict Data</button>

    <script>
        // Get the current URL
        var currentUrl = window.location.href;

        // Function to redirect to current URL + /predictdata
        function redirectToPredictData() {
            window.location.href = currentUrl + '/predictdata';
        }

        // Add click event listener to the button
        var button = document.getElementById('predictButton');
        button.addEventListener('click', redirectToPredictData);
    </script>
</body>
</html>
